<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>698338948927-nk9ufn4755km1osjqfiie2t6sli2bhoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698338948927-nk9ufn4755km1osjqfiie2t6sli2bhoo</string>
	<key>API_KEY</key>
	<string>AIzaSyDxiZpyoEt_LaqivL0Paj4UuY2DNFCMoGg</string>
	<key>GCM_SENDER_ID</key>
	<string>698338948927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shouler.thomas.map</string>
	<key>PROJECT_ID</key>
	<string>maaya-b16d5</string>
	<key>STORAGE_BUCKET</key>
	<string>maaya-b16d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:698338948927:ios:1d4f4d54f2a10f37</string>
	<key>DATABASE_URL</key>
	<string>https://maaya-b16d5.firebaseio.com</string>
</dict>
</plist>